<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <context-param>
        <param-name>menu_member</param-name>
        <param-value>userRegistration userLookup userEdit</param-value>
    </context-param>
    <context-param>
        <param-name>menu_order</param-name>
        <param-value>orderLookup orderRegistration orderEdit orderCancel</param-value>
    </context-param>
    <context-param>
        <param-name>menu_goods</param-name>
        <param-value>goodsLookup goodsRegistration goodsEdit goodsEdit</param-value>
    </context-param>
    
    <servlet>
        <servlet-name>loadConfig</servlet-name>
        <servlet-class>loadOnStartUp.LoadAppConfig</servlet-class>
        <load-on-startup>1</load-on-startup>

    </servlet>

</web-app>